<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    <connectionStrings>
      <add name="BloodDBConnectionString"
           connectionString="Data Source=LAPTOP-IOQL3E53\SQLEXPRESS;Initial Catalog=BloodDB;Integrated Security=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true"/>
  </system.web>
</configuration>